@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #app, #app > div {
    @apply h-full;
  }
}

body{
  max-height:100dvh;
  overflow: hidden !important;
}

.table-container{
  overflow: scroll;
  min-height: auto;
  height: 750px;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}

@media only screen and (max-width: 1000px){
  /* Styles for smaller screens */
  body{
    max-height:100dvh;
    overflow: auto !important;
  }
  .logo-only {
    display: block;
  }
  .asset-text {
    display: none;
  }

  .table-container{
    overflow: hidden;
    min-height: auto;
    height: 100%;
  }
}


